C:\Users\hub11\Documents\Python\misc\nomis_report_tool\misc\myede_2017.tsv
C:\Users\hub11\Documents\Python\misc\nomis_report_tool\jotter.py
C:\Users\hub11\Documents\Python\misc\nomis_report_tool\output\output.docx